<div class="card shadow mb-3">
  <div class="card-header"><h5>Selected Item</h5></div>
  <div class="card-body table-responsive">
      <table class="table table-hover table-striped">
          <thead>
          <tr>
              <th>Image</th>
              <th>Item Name</th>
              <th>Category</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="align-middle"><img [src]="currentItem.imageUrl" class="img-thumbnail" style="width: 150px;" alt=""></td>
            <td class="align-middle">{{ currentItem.name }}</td>
            <td class="align-middle">{{ currentItem.category }}</td>
          </tr>
          </tbody>
      </table>
  </div>
</div>
<hr>

<div class="card w-100 shadow">
  <div class="card-body">
    <h5 class="card-title">Update Product</h5>
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="productName">Product name</label>
          <input type="text"
          class="form-control"
          id="productName"
          formControlName="name"
          required>
        </div>
        <div class="form-group col-md-6">
          <label for="imageUrl">Image url</label>
          <input type="url"
          class="form-control"
          id="imageUrl"
          placeholder="url"
          formControlName="imageUrl"
          >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="price">Price</label>
          <input type="number"
          class="form-control"
          id="price"
          formControlName="price"
          min="0" step="1">
        </div>

        <div class="form-group col-md-4">
          <label for="category">Category</label>
          <select class="custom-select"
          id="category"
          formControlName="category"
          (change)="changeCategory($event)">
            <option disabled>Select Category</option>
            <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="3" cols="100" formControlName="description"></textarea>
        </div>

      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
