<div class="card mb-3">
  <div class="card-header">
    <h5>Available Products</h5>
  </div>
  <div class="card-body table-responsive">
    <p *ngIf="!isItems && !isStockLoaded">Loading...</p>
    <table datatable class="table table-hover table-striped" id="item-table" *ngIf="isItems && isStockLoaded">
      <thead>
        <tr>
          <th>#</th>
          <th>Image</th>
          <th>Name</th>
          <th>Category</th>
          <th>Available Stock</th>
          <th>Update Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index;">
          <td class="align-middle">{{ i + 1 }}</td>
          <td class="align-middle"><img src="{{ item.imageUrl }}" class="img-thumbnail" style="width: 150px;" alt="">
          </td>
          <td class="align-middle">{{ item.name }}</td>
          <td class="align-middle">{{ item.category }}</td>
          <td class="align-middle">{{ stocks[i].stock }}</td>
          <td class="align-middle">
            <div class="stock-form">
              <input type="number" #stock class="form-control" id="stock" min="1" step="1" required />
              <button type="submit" class="btn btn-primary ml-2"
                (click)="onSubmit(item.id, stock.value)">Submit</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
