<div class="card shadow mb-3">
  <div class="card-header"><h5>Selected Category</h5></div>
  <div class="card-body table-responsive">
      <table class="table table-hover table-striped">
          <thead>
          <tr>
              <th>Image</th>
              <th>Category Name</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="align-middle"><img src="{{ currentCategory.imageUrl }}" class="img-thumbnail" style="width: 150px;" alt=""></td>
            <td class="align-middle">{{ currentCategory.name }}</td>
          </tr>
          </tbody>
      </table>
  </div>
</div>
<hr>

<div class="card shadow">
  <div class="card-body">
      <h5 class="card-title">Edit Category</h5>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Category Name</label>
        <input type="text"
        class="form-control"
        id="name"
        aria-describedby="categoryName"
        placeholder="Enter name"
        formControlName="name" />
        <small class="text-danger" *ngIf="f.name.touched && f.name.errors?.required">
          Name is required
        </small>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image url</label>
        <input type="url"
        class="form-control"
        id="imageUrl"
        placeholder="url"
        formControlName="imageUrl" />
        <p>
          <small class="text-danger" *ngIf="f.imageUrl.touched && f.imageUrl.errors?.required">
            image url is required
          </small>
        </p>
        <p>
          <small class="text-danger" *ngIf="f.imageUrl.touched && f.imageUrl.errors?.urlValid">
            image url is not valid
          </small>
        </p>
      </div>
      <button class="btn btn-primary" type="submit" 
      [disabled]="categoryForm.invalid">
        Submit
      </button>
      <p class="text-success" *ngIf="isUpdated">
        Category updated successfully
      </p>
    </form>
  </div>
</div>
