<div class="card mb-3">
    <div class="card-header"><h5>Today's Orders</h5></div>
    <div class="card-body table-responsive">
      <p *ngIf="!isOrdersLoaded">Loading...</p>
        <table datatable class="table table-hover table-striped" id="item-table" *ngIf="isOrdersLoaded">
            <thead>
            <tr>
                <th>Order Number</th>
                <th>Image</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Total cost</th>
                <th>status</th>
                <th>Update status</th>>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders; let i = index;">
              <td class="align-middle">{{ order.orderNo }}</td>
              <td class="align-middle"><img [src]="order.imageUrl" class="img-thumbnail" style="width: 150px;" alt=""></td>
              <td class="align-middle">{{ order.name }}</td>
              <td class="align-middle">{{ order.amount }}</td>
              <td class="align-middle">{{ order.price }}</td>
              <td class="align-middle">{{ order.status }}</td>
              <td class="align-middle">
                <div class="status-form" [formGroup]="statusForm">
                  <select class="custom-select"
                  formControlName="orderStatus"
                  id="status">
                    <option disabled>Select Status</option>
                    <option *ngFor="let status of DifferentStatus" [ngValue]="status">{{ status }}</option>
                  </select>
                  <button type="submit" class="btn btn-primary ml-2"
                    (click)="onSubmit(order)">Submit</button>
                </div>
              </td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>